#your-maps {
  position: relative;
  height: 77vh;
}

.white-map-gradient {
  position: absolute;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 0.089) 70%
  );
  top: 0;
  z-index: 1;
  height: 77vh;
  width: 100%;
}

.map-top-line {
  width: 100%;
  height: 1px;
  background: rgb(138, 138, 138);
  position: relative;
  margin-bottom: 2rem;
}

.map-section-container {
  width: 100%;
  background: url(/assets/maps-03ebbf2c074f13a65af1dba0c80f767e.png) no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 90vh;
  position: absolute;
  top: -13vh;
}

.your-maps {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;

  p:nth-child(3) {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: DINnext;
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }
  p:nth-child(4) {
    color: rgb(122, 121, 121);
    font-family: $main-font;
    max-width: 23rem;
  }
}

.btn-border-black {
  border: 1px solid rgb(0, 0, 0);
  width: 270px;
}

.your-maps-heading {
  font-size: 8rem;
  color: rgb(0, 0, 0);
  font-family: TUNGSTEN;
  line-height: 1;
  max-width: 100%;
  padding-bottom: 1rem;
}

#footer {
  height: 100vh;
  background-color: $darkColor;
  color: #585858;
  display: flex;
  align-items: center;
  flex-direction: column;

  div:nth-child(1) {
    cursor: pointer;
    font-weight: bold;
    padding: 2rem 0;
    &:hover {
      color: white;
    }
  }
  div:nth-child(2) {
    img {
      width: 5rem;
    }
  }

  p {
    font-size: 0.8rem;
    max-width: 30rem;
    text-align: center;
  }
}

.page-links {
  list-style: none;
  display: flex;
  li {
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
  }
}

.certification {
  display: flex;
  justify-content: center;
  align-items: center;
  div:nth-child(2) {
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
  }
}

.vertical-abstract {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 5;
  margin-top: auto;
  height: 100%;
  padding: 5rem 0;
  left: 15%;
}
